h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    color: #ffffff;
    padding: 20px;
}

div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 5px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 4px;
}